
body{font-family:"raleway";display:block;margin:0px;width: 100%; }
img.res{width: 120px;margin-left:1%;}
section.top-page{display: flex;align-items: center; justify-content: space-between; width:100%;}
div.tnt{display: flex;align-items: center;}
a.nav{color:#0065FC;}
a.nav1:hover{border-top:3px solid #0065FC;color:#0065FC;}

h2.sas{margin-left:1%}
h3.ii{margin-left:1%;margin-bottom:15px;}
a{text-decoration: none;}
h3{margin:0px;margin-top: 5px;}
h4{margin:0px;margin-top:10px;}
h5{margin:0px;}

ul.navigation {display: flex;list-style-type: none;align-items: center;}

div.re{width: 450px; height: 52px; background-color: #f2f2f2; display: flex;margin: 5px;margin-left:1%; align-items: center; border-radius: 15px;}
img.icone{width: 25px; height: 30px; margin-left: 10px; margin-right: 10px;}
input{position: relative; display: inline-block; box-sizing: border-box;}
input.ii{background-color: #fff; width: 250px; height:50px; border: none; padding: 0 15px; font-size: 20px;font-weight: bold;}
input.ia{width: 100%; height: 50px; border: none; border-radius: 0 15px 15px 0; background-color:#0065FC; color: white; font-size: 20px;}
div.rgg{display:none;}


div.filtres{display: flex; margin-top:10px;margin-left:1%; width:80%; align-items: center;}

div.rap{background-color:#deebff;border-radius:44px;height:44px;width:44px;text-align: center;position: absolute;}
div.rap-item {position: relative;margin-top:12px;display: block;}
i{font-size: 20px;color:#0065FC;}
button.fil{ border: none;font-size: 15px; background-color: white;margin-left: 50px;margin-right:5px;}
div.ecbo{display: flex;}
div.ec{ margin-left:15px;margin-top: 10px; border: 1px black solid;display: flex;align-items: center; border-radius: 30px; width: 200px; height: 42px;}
div.ec:hover{box-shadow: 5px 5px 5px #0065FC;}
div.bo{ margin-left:15px;margin-top: 10px; border: 1px black solid;display: flex;align-items: center;border-radius: 30px; width: 160px; height: 42px;}
div.bo:hover{box-shadow: 5px 5px 5px #0065FC;}
div.ro{ margin-left:15px;margin-top: 10px; border: 1px black solid;display: flex;align-items: center;border-radius: 30px; width: 200px; height: 42px; }
div.ro:hover{box-shadow: 5px 5px 5px #0065FC;}
div.ch{ margin-left:15px;margin-top: 10px; border: 1px black solid;display: flex;align-items: center;border-radius: 30px; width: 250px; height: 42px; }
div.ch:hover{box-shadow: 5px 5px 5px #0065FC;}

img.ico{width:40px;height:40px;color:#0065FC;}
img.yi{margin: 10px;}
div.ic{display:flex; align-items: center;margin-left:1%;margin-top:15px;margin-bottom:15px;}

section.gg{display: flex; align-items: center;width:98%;margin-left:1%;}

section.hébergements{border-radius:30px;width:980px;height:780px;background-color:#f2f2f2;margin-left:1%;margin-right:1%;}

div.ttt{margin-top:30px;margin-left:2%;}
div.tt{margin-left:2%;}
div.ape{margin-left: auto;margin-right: auto;}
section.l1{display: flex;width: 970px;margin-top:50px; justify-content: space-around;}
article.hebergements{width:275px; height:250px; background-color:white;border-radius:30px;box-shadow:5px 5px 5px black}
article.hebergements:hover {box-shadow: 20px 20px 20px black;}
article.port{width: 275px; height: 250px; background-color: white; border-radius:30px;box-shadow: 5px 5px 5px black}
article:hover {box-shadow: 20px 20px 20px black;}
article.mouettes{width: 275px; height: 250px; background-color: white; border-radius:30px;box-shadow: 5px 5px 5px black}
article:hover {box-shadow: 20px 20px 20px black;}

section.l2{display:flex;width: 970px; justify-content: space-around;margin-top:50px;}
article.mer{width: 275px; height: 250px;background-color: white; border-radius:30px;box-shadow: 5px 5px 5px black}
article:hover {box-shadow: 20px 20px 20px black;}
article.panier{width: 275px; height: 250px;background-color: white;border-radius:30px;box-shadow: 5px 5px 5px black}
article:hover {box-shadow: 20px 20px 20px black;}
article.amina{width: 275px; height: 250px;background-color: white;border-radius:30px;box-shadow: 5px 5px 5px black}
article:hover {box-shadow: 20px 20px 20px black;}
img.ha{ width: 265px; height: 150px;margin: 5px;border-radius:30px 30px 0px 0px;object-fit: cover;}
div.tti{margin-left:2%;margin-top:50px;}



section.hh{background-color: #f2f2f2;height: 780px; width: 550px;border-radius:30px;margin-left:1%;margin-right:1%;}
div.le{display: flex; justify-content: space-between;margin-top:30px;margin-left:2%;margin-right:4%;}
div.rapp{position: relative;margin-top:25px;display: block;}
article.soleil{margin-left:8%;margin-right:8%; border-radius:30px;box-shadow: 5px 5px 5px black; background-color: white;display: flex;margin-bottom: 30px;} div.sls{margin: 10px;height:100%;}
article:hover {box-shadow: 20px 20px 20px black;}
article.eau{margin-left:8%;margin-right:8%;border-radius:30px;box-shadow: 5px 5px 5px black; background-color: white;display: flex; margin-bottom:30px;} div.sls1{margin: 10px;height:100%;}
article:hover {box-shadow: 20px 20px 20px black;}
article.bleu{margin-left:8%;margin-right:8%;border-radius:30px;box-shadow: 5px 5px 5px black; background-color: white;display: flex;} div.sls2{margin: 10px;height:100%;}
article:hover {box-shadow: 20px 20px 20px black;}
div.lal{margin-top:20px;}
img.fff{margin-top:20%;}
img.fff2{margin-top:20%;}
img.pp{width: 225px; height:180px; border-radius:30px 0px 0px 30px;margin:1%;object-fit: cover;}

section.activites{width:98%;margin:1%;margin-left: auto;margin-right: auto;}
section.re{display: flex;justify-content: space-around; width:100%;}
div.oui{display: flex;width:50%;}
div.oui1{display: flex;width:50%;}
div.pp{margin-left: auto;margin-right: auto;}
article.w1{width: 330px;height: 565px; box-shadow: 5px 5px 5px black; border-radius:30px;}
article:hover {box-shadow: 20px 20px 20px black;}
div.ti{margin-left: 30px;}
article.pp{width: 390px; height: 265px; box-shadow: 5px 5px 5px black; border-radius:30px;height: 265px;}
article:hover {box-shadow: 20px 20px 20px black;}
div.ta{margin-left: 20px;}
article.pi{width: 390px; height: 265px;box-shadow: 5px 5px 5px black; border-radius:30px;height: 265px; margin-top: 35px;}
article:hover {box-shadow: 20px 20px 20px black;}
article.w3{width: 330px;height: 565px; box-shadow: 5px 5px 5px black; border-radius:30px;}
article:hover {box-shadow: 20px 20px 20px black;}
article.ppp{width: 390px; height: 265px;box-shadow: 5px 5px 5px black; border-radius:30px;height: 265px;}
article:hover {box-shadow: 20px 20px 20px black;}
article:hover {box-shadow: 20px 20px 20px black;}
article.ppi{width: 390px; height: 265px;box-shadow: 5px 5px 5px black; border-radius:30px;height: 265px; margin-top: 35px;}
article:hover {box-shadow: 20px 20px 20px black;}
img.ii{ width: 390px; height: 200px; border-radius:30px 30px 0px 0px;object-fit: cover;}
img.ia{ width: 330px; height: 500px; border-radius:30px 30px 0px 0px;object-fit: cover;}




section.apropos{background-color: #f2f2f2; display: flex; width:100%; height: 300px;align-items: center; margin-top: 70px;}
div.w5{width:30%;}
div.w6{width:30%;}
div.w7{width:30%;}
li.ti{font-size: 25px;}
li{list-style: none;margin: 20px;}





@media screen and (max-width:1400px) {
section.top-page{width:90%;}
div.tnt{position:absolute;top:60px;text-align:center; left:0%;width:100%;justify-content: space-around;}
a.nav1{align-items:center;width: 100%;border-bottom:3px solid #f2f2f2;}
a.nav1:hover{border-bottom:3px solid #0065FC;color:#0065FC;border-top:none;}

@media screen and (max-width:1400px){
section.gg{display: block;width:90%; margin-left: auto;margin-right: auto;}
h2.sas{margin-top:50px;}
section.hébergements{padding-top:1px;margin-left: auto;margin-right: auto;}
div.ape{display:block;}
section.hh{height:750px; margin-left: auto;margin-right: auto;border-radius:0%;}}


@media screen and (max-width:700px){
div.re{width:90%;margin-left:10px;}
input.ia{display:none;}
input.ii{width:80%;}
a.rgg{width:15%;border-radius:15px;background-color:#0065FC;}
div.rgg{display:flex;width:100%;height:50px;align-items: center;}
h2.sas{width:90%;}}


@media screen and (max-width: 1070px) 
{div.filtres{display: block;width:90%;margin-left: auto;margin-right: auto;}
h3.ii{width:90%;}
h3.filtres{width: 90%;}
button.fil{width:90%;}
div.ec{}
div.bo{}
div.ro{}
div.ch{}}
@media screen and (max-width: 900px){
h2.sas{margin-top:80px;margin-left:2%;}
h3.ii{margin-left:2%;}
img.res{margin-left:2%;}
div.re{margin-left:2%;}
h3.Filtres{margin-left:2%;}
img.ico{margin-left:1%;}
section.rechercher{width: 100%;}section.top-page{width:100%;}
ul.navigation{width: 80%;margin-right:90%;display: block;padding:0px;}
li{width:90%;}
button{width:90%;}
a.nav{width:90%;}
header{width:100%;}
}

@media screen and (max-width: 1100px) {
section.hébergements{ width:100%; height: auto;background-color:#fff;}}
@media screen and (max-width: 1100px) {
section.gg{flex-direction:column-reverse;}
div.ape{display:flex;width:100%;}
section.l2{display: block;width:50%;margin-top:30px;}
section.l1{height:auto; display: block;width:50%; align-items: center;margin-top:30px;}
article.hebergements{margin-top:20px;margin-left: auto;margin-right: auto;}
article.port{margin-top:20px;margin-left: auto;margin-right: auto;}
article.mouettes{margin-top:20px;margin-left: auto;margin-right: auto;}
article.mer{margin-top:20px;margin-left: auto;margin-right: auto;}
article.panier{margin-top:20px;margin-left: auto;margin-right: auto;}
article.amina{margin-top:20px;margin-left: auto;margin-right: auto;}}   

@media screen and (max-width: 700px){
section.gg{display:flex;}
div.ape{display:block;}
section.l1{width:100%;}
section.l2{width:100%;}
article.hebergements{width:100%; height:300px;margin:0px; margin-top:30px;margin-left: auto;margin-right: auto;}
article.port{width:100%; height:300px;margin:0px;margin-top:30px;margin-left: auto;margin-right: auto;}
article.mouettes{width:100%;height:300px;margin:0px;margin-top:30px;margin-left: auto;margin-right: auto;}
article.mer{width:100%;height:300px;margin:0px;margin-top:30px;margin-left: auto;margin-right: auto;}
article.panier{width:100%; height:300px;margin:0px;margin-top: 30px;margin-left: auto;margin-right: auto;}
article.amina{width:100%; height:300px;margin:0px;margin-top: 30px;margin-left: auto;margin-right: auto;}
img.ha{width:100%; height: 200px;margin: 0px;}
}

@media screen and (max-width:650px){
section.hh{width:100%; border-radius:0%}
article.soleil{;width:90%;margin:0px;margin:5%;}
article.eau{width:90%;margin:0px;margin:5%;}
article.bleu{width:90%;margin:0px;margin:5%;}
img.pp{width:50%;}
div.sls{width:50%;}
div.sls1{width:50%;}
div.sls2{width:50%;}
}

@media screen and (max-width:365px){
    img.fff2{margin-top:5%;}
}

@media screen and (max-width: 1500px){
section.re{display:block;}
div.oui{width:100%;justify-content: space-around;}
div.oui1{width:100%;justify-content: space-around;margin-top:50px;}
div.pp{margin:0%;}

}
@media screen and (max-width: 790px){
section.activites{width:90%; margin-left: auto;margin-right: auto;margin-top:50px;}
div.oui{display:block;width: 90%; margin-left: auto;margin-right: auto;}
div.oui1{display:block;width: 90%; margin-left: auto;margin-right: auto;}
article.w1{width:90%; height: 265px;margin-top: 35px;margin-bottom: 35px;margin-left:5px;margin-left: auto;margin-right: auto;}
article.pp{width:90%; height: 265px;margin-top: 35px;margin-bottom: 35px;margin-left:5px;margin-left: auto;margin-right: auto;}
article.pi{width:90%; height: 265px;margin-top: 35px;margin-bottom: 35px;margin-left:5px;margin-left: auto;margin-right: auto;}
article.w3{width:90%; height: 265px;margin-top: 35px;margin-bottom: 35px;margin-left:5px;margin-left: auto;margin-right: auto;}
article.ppp{width:90%; height: 265px;margin-top: 35px;margin-bottom: 35px;margin-left:5px;margin-left: auto;margin-right: auto;}
article.ppi{width:90%; height: 265px;margin-top: 35px;margin-bottom: 35px;margin-left:5px;margin-left: auto;margin-right: auto;}
img.ia{width:100%; height: 200px;}
img.ii{width:100%;}}
@media screen and (max-width:700px){
section.apropos{display: block; width:auto;height: auto; padding: 1px;;}
ul.aaa{margin:0px;width:auto;padding:0%;margin-left:10%;}
div.w5{width:100%;}
div.w6{width:100%;}
div.w7{width:100%;}
li.ti{margin-top:30px;}
li{margin:15px ;} 
footer{width:100%;height:100%;}} 