
body{font-family:"raleway"; }
img.res{width: 120px;}
section.top-page{display: flex;align-items: center; justify-content: space-between; width: 1550px;}
@media screen and (max-width:1300px) {
    section.top-page{display: block; width:500px;}
    }


a{text-decoration: none;}
h3{margin:0px;margin-top: 5px;}
h4{margin:0px;margin-top:10px;}
h5{margin:0px;}

ul.navigation {display: flex;list-style-type: none;align-items: center;}

div.re{width: 450px; height: 52px; background-color: #f2f2f2; display: flex;margin: 5px; align-items: center; border-radius: 15px;}
img.icone{width: 35px; height: 35px; margin-left: 10px; margin-right: 10px;}
input{position: relative; display: inline-block; box-sizing: border-box;}
input.ii{background-color: #fff; width: 250px; height:50px; border: none; padding: 0 15px; font-size: 20px;}
input.ia{width: 150px; height: 50px; border: none; border-radius: 0 15px 15px 0; background-color:#0065FC; color: white; font-size: 20px;}


div.filtres{display: flex; margin: 10px; width: 1200px; align-items: center;}
@media screen and (max-width: 900px) 
{
    div.filtres{display: block;width: 500px;} 
    
}
div.paa{background-color: #deebff;width: 30px;height: 30px;}
i{float: left;width:44px;height:44px;background-color:#deebff;border-radius:44px;text-align: center;vertical-align: middle;}
button.fil{ border: none; font-size: 15px; font-size: 20px; background-color: white;}
div.ec{ margin-left:15px;margin-top: 10px; border: 1px black solid;display: flex;align-items: center; border-radius: 30px; width: 200px; height: 42px;}
div.bo{ margin-left:15px;margin-top: 10px; border: 1px black solid;display: flex;align-items: center;border-radius: 30px; width: 160px; height: 42px;}
div.ro{ margin-left:15px;margin-top: 10px; border: 1px black solid;display: flex;align-items: center;border-radius: 30px; width: 200px; height: 42px; }
div.ch{ margin-left:15px;margin-top: 10px; border: 1px black solid;display: flex;align-items: center;border-radius: 30px; width: 300px; height: 42px; }


img.yi{margin: 10px;}
div.ic{display:flex; align-items: center;margin: 10px;}
@media screen and (max-width: 900px){section.rechercher{width: 500px;}
header{width:500px;}}

section.gg{display: flex; align-items: center; width: 1550px;}
@media screen and (max-width: 1300px) {section.gg{display: block;width: 500px;}}

div.ha{border-radius:30px; width: 980px;  background-color:#f2f2f2; margin: 10px;}
@media screen and (max-width: 900px) {div.ha{ width: 400px; height: auto; margin-left:50px;background-color:#fff; margin-right:50px;}
    
}
div.tt{margin-left: 15px;}
section.l1{display: flex;margin: 10px;width: 970px; justify-content: space-around;}
article.hebergements{width: 275px; height: 290px; background-color: white; margin: 10px; border-radius:30px;box-shadow: 5px 5px 5px black}
article.hebergements:hover {box-shadow: 20px 20px 20px black;}
article.port{width: 275px; height: 290px; background-color: white;margin: 10px; border-radius:30px;box-shadow: 5px 5px 5px black}
article:hover {box-shadow: 20px 20px 20px black;}
article.mouettes{width: 275px; height: 290px; background-color: white;margin: 10px; border-radius:30px;box-shadow: 5px 5px 5px black}
article:hover {box-shadow: 20px 20px 20px black;}
@media screen and (max-width: 900px) {section.l1{height:auto; display: block;width: 400px;margin-left: 0px;margin-right:0px; align-items: center;}}   

section.l2{display:flex;margin: 10px;width: 970px; justify-content: space-around;}
article.mer{width: 275px; height: 290px;background-color: white;margin: 10px; border-radius:30px;box-shadow: 5px 5px 5px black}
article:hover {box-shadow: 20px 20px 20px black;}
article.panier{width: 275px; height: 290px;background-color: white;margin: 10px; border-radius:30px;box-shadow: 5px 5px 5px black}
article:hover {box-shadow: 20px 20px 20px black;}
article.amina{width: 275px; height: 290px;background-color: white;margin: 10px; border-radius:30px;box-shadow: 5px 5px 5px black}
article:hover {box-shadow: 20px 20px 20px black;}
img.ha{ width: 265px; height: 150px;margin: 5px;border-radius:30px 30px 0px 0px;}

@media screen and (max-width: 900px) {section.l2{display: block;width: 400px; margin-left: 0px; margin-right: 0px;}
article.hebergements{width:390px; height:300px; margin-left: 5px;margin-right: 5px;}
article.port{width:390px; height:300px;margin-left: 5px;margin-right: 5px;}
article.mouettes{width:390px; height:300px;margin-left: 5px;margin-right: 5px;}
article.mer{width:390px; height:300px;margin-left: 5px;margin-right: 5px;}
article.panier{width:390px; height:300px;margin-left: 5px;margin-right: 5px;}
article.amina{width:390px; height:300px;margin-left: 5px;margin-right: 5px;}
}    

section.hh{background-color: #f2f2f2;height: 800px; width: 550px; border-radius:30px;}
div.le{display: flex; justify-content: space-between;margin-left: 10px; margin-right: 20px;}
article.soleil{margin: 20px;border-radius:30px;box-shadow: 5px 5px 5px black; background-color: white;display: flex;margin-bottom: 50px;} div.sls{margin: 10px;}
article:hover {box-shadow: 20px 20px 20px black;}
article.eau{margin: 20px;border-radius:30px;box-shadow: 5px 5px 5px black; background-color: white;display: flex; margin-bottom: 50px;} div.sls1{margin: 10px;}
article:hover {box-shadow: 20px 20px 20px black;}
article.bleu{ margin: 20px;border-radius:30px;box-shadow: 5px 5px 5px black; background-color: white;display: flex;} div.sls2{margin: 10px;}
article:hover {box-shadow: 20px 20px 20px black;}
img.pp{width: 225px; height: 180px; border-radius:30px 0px 0px 30px;margin: 5px;}
@media screen and (max-width: 900px){section.hh{width: 500px;}img.ha{width: 390px; height: 200px;margin: 0px;}}

section.activites{width: 1550px;}
section.re{display: flex;justify-content: space-around; width: 1550px;}
article.w1{width: 330px;height: 565px; box-shadow: 5px 5px 5px black; border-radius:30px;}
article:hover {box-shadow: 20px 20px 20px black;}
div.ti{margin-left: 30px;}
article.pp{width: 390px; height: 265px; box-shadow: 5px 5px 5px black; border-radius:30px;height: 265px;}
article:hover {box-shadow: 20px 20px 20px black;}
div.ta{margin-left: 20px;}
article.pi{width: 390px; height: 265px;box-shadow: 5px 5px 5px black; border-radius:30px;height: 265px; margin-top: 35px;}
article:hover {box-shadow: 20px 20px 20px black;}
article.w3{width: 330px;height: 565px; box-shadow: 5px 5px 5px black; border-radius:30px;}
article:hover {box-shadow: 20px 20px 20px black;}
article.ppp{width: 390px; height: 265px;box-shadow: 5px 5px 5px black; border-radius:30px;height: 265px;}
article:hover {box-shadow: 20px 20px 20px black;}
article:hover {box-shadow: 20px 20px 20px black;}
article.ppi{width: 390px; height: 265px;box-shadow: 5px 5px 5px black; border-radius:30px;height: 265px; margin-top: 35px;}
article:hover {box-shadow: 20px 20px 20px black;}
img.ii{ width: 390px; height: 200px; border-radius:30px 30px 0px 0px;}
img.ia{ width: 330px; height: 500px; border-radius:30px 30px 0px 0px;}

@media screen and (max-width: 1150px){section.activites{width: 500px;}
section.re{display:block;width: 400px; margin-left: 50px;}
article.w1{width: 390px; height: 265px;margin-top: 35px;margin-bottom: 35px;margin-left:5px;margin-right:5px;}
article.pp{width: 390px; height: 265px;margin-top: 35px;margin-bottom: 35px;margin-left:5px;margin-right:5px;}
article.pi{width: 390px; height: 265px;margin-top: 35px;margin-bottom: 35px;margin-left:5px;margin-right:5px;}
article.w3{width: 390px; height: 265px;margin-top: 35px;margin-bottom: 35px;margin-left:5px;margin-right:5px;}
article.ppp{width: 390px; height: 265px;margin-top: 35px;margin-bottom: 35px;margin-left:5px;margin-right:5px;}
article.ppi{width: 390px; height: 265px;margin-top: 35px;margin-bottom: 35px;margin-left:5px;margin-right:5px;}
img.ia{width: 390px; height: 200px;}}



section.apropos{background-color: #f2f2f2; display: flex; justify-content: space-between; width: 1570px; height: 300px;align-items: center; margin-top: 20px;}
li.ti{font-size: 25px;}
li{list-style: none;margin: 20px;}

@media screen and (max-width:1200px) {section.apropos{display: block; width: 500px;}
ul{margin-bottom: 20px;}  li{margin:5px ;} 
footer{width: 500px;} 
}
